*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  img {
    object-fit: cover;
  }

  
.contact-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 20px 10px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    border-width: 2px;
    padding: 5px 5px 5px 5px;
    border-color: black;
    border-style: solid;
}
.form{
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px 15px 15px;
}
.form-group{
  display: flex;
  flex-direction: column;
}


