*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  img {
    object-fit: cover;
  }

  
.contact-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 20px 10px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    border-width: 2px;
    border-radius: 60px;
    padding: 5px 5px 5px 5px;
    border-color: black;
    border-style: solid;
    background-color: white;
}
.form{
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 15px 15px 15px;
}
.form-group{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#add-contact-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-group input{
    width: 100%;
    height: 30px;
    padding: 5px;
}
.form-group textarea{
    width: 100%;
    height: 100px;
    padding: 5px;
}
.btn{
  width: 50%;
}
@media screen and (max-width: 1008px){
  .container{
    width: 100%;
    padding: 15px 0px
  }
  .form{
    width: 100%;
  }
  .form-group input{
    width: 100%;
  }
  .form-group textarea{
    width: 100%;
  }
  .btn{
    width: 100%;
  }
  
}