*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
  }
  img {
    object-fit: cover;
  }

  /*header css*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    background-color: lightgrey;
    height: 120px;
}
.header .nav-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header .nav-logo{
    display: flex;
    align-items: center;
}
.header .nav-logo img{
    width: 100px;
    height: 100px;
    margin: 10px;
}
.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.header .icon{
    display: flex;
    padding: 10px 10px 10px 10px;
    justify-content:center;
    align-items: center;
}
.header .icon img{
    width: 30px;
    height: 30px;
    margin: 5px 5px 5px 5px
}
.header .login-button{
    display: flex;
    justify-content:right;
    align-items: center;
    margin: 5px 5px 5px 5px;
    width: 200px;
    height:100px;
}
.header .login-button img{
    width: 80px;
    height: 80px;
    margin: 10px 10px 10px 10px;
    border-radius: 100px;
}
