*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  img {
    object-fit: cover;
  }

  /*header css*/

/*body css*/
.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 10px 10px
}
.main-body-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border-width: 2px;
    border-radius: 60px;
    padding: 5px 5px 20px 5px;
    border-color: black;
    border-style: solid;
    background-color: white;
}
.body-sec{
    display: flex;
    align-items: center;
    padding: 30px 15px 30px 15px;
    justify-content: space-between;
    width: auto;
}
.body-sec button{
    width: 200px;
    height: 40px;
    border-radius: 40px;
}
.body-sec img{
    width: 260px;
    height: 300px;
    margin: 20px 20px 20px 20px;
}
.main-body-ongoing{
    padding: 10px 10px 10px 10px;
}
.ongoing-events{
    display: flex;
    overflow: scroll;
}
.ongoing-events img{
    width: 400px;
    height: 250px;
    padding: 10px 10px 10px 10px;   
}
