*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
  }
  img {
    object-fit: cover;
  }

.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffb7c1;
}
.login-body-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 60px;
    width: 700px;
    padding: 30px 30px 30px 30px;
    background-color: white;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 10px 10px;

}
.login-body-content img{
    width: 150px;
    height: 150px;
}
.login-body-content form{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-inputs{
    display: flex;
    flex-direction: column;
}
.login-body-content input{
    width: 100%;
    height: 30px;
    padding: 5px;
}

