*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  img {
    object-fit: cover;
  }


.product-view-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 20px 10px;
}
.product-view-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 62.5%;
    border-width: 2px;
    border-radius: 60px;
    padding: 5px 5px 20px 5px;
    border-color: black;
    border-style: solid;
    background-color: white;
}
.product-model{
    display: flex;
    flex-direction: row;
    padding: 15px 15px 15px 15px;
    width: 95%;
}
.model-view a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-model img{
    width: 300px;
    height: 400px;
}
.model-desc{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    padding: 0px 10px 0px 10px;
    justify-content: space-between;
}
.buy-buttons{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.buy-buttons button{
    width: 200px;
    height: 60px;
    border-radius: 40px;
}
.name-of-product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icons{
    display: flex;
}
.icons img{
    width: 40px;
    height: 40px;
}
.exit-x{
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
}
.reviews{
    border-width: 2px;
    padding: 15px 15px 15px 15px;
    width: 95%;
}
.reviews div{
    padding: 15px 15px 15px 15px;    
    background-color: white;
}

