*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  img {
    object-fit: cover;
  }


.product-view-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 20px 10px;
}
.product-view-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 62.5%;
    border-width: 2px;
    border-radius: 60px;
    padding: 5px 5px 20px 5px;
    border-color: black;
    border-style: solid;
    background-color: white;
}
.product-model{
    display: flex;
    flex-direction: row;
    padding: 15px 15px 15px 15px;
    width: 95%;
}
.model-view a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-model img{
    width: 300px;
    height: 400px;
}
.model-desc{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    padding: 0px 10px 0px 10px;
    justify-content: space-between;
}
.name-of-product h3{
    font-size: 40px;

}
.buy-buttons{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.buy-buttons button{
    width: 200px;
    height: 60px;
    border-radius: 40px;
}
.name-of-product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icons{
    display: flex;
}
.icons img{
    width: 40px;
    height: 40px;
}
.exit-x{
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
}
.information{
    display: flex;
    flex-direction: column;
    padding: 15px 20px 15px 20px;
    width: 100%;
}
.description{
    display: flex;
    flex-direction: column;
    padding: 5px 15px 15px 15px;
    width: 100%;
}
.reviews{
    border-width: 2px;
    padding: 15px 15px 15px 15px;
    width: 95%;
}
.reviews .reviewer{
    padding: 10px 0px;
    background-color: white;
}

@media screen and (max-width: 1000px) {
    .product-view-border{
        padding: 15px 0px;
        width: 100%;
    }
    .product-model{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .product-model .model-view{
        width: 200px;
        height: 250px;
    }
    .model-view img{
        border-radius: 20px;
        width: 200px;
        height: auto;
    }
    .model-desc{
        width: 100%;
        height: auto;
    }
    .model-desc .name-of-product{
        flex-direction: row;
        align-items: center;
        font-size: 13px;
    }
    .name-of-product .icons{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        height: 250px;
        width: 25px;
    }
    .name-of-product .icons a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .name-of-product h3{
        font-size: 30px;
    }
    .buy-buttons{
        margin: 5px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .buy-buttons button{
        width: 100px;
        height: 35px;
        font-size: 15px;
        
    }
    .information h2{
        font-size: 20px;
    }
    .information h3{
        font-size: 15px;
    }

}
