*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  img {
    object-fit: cover;
  }
  
.profile-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
}
.profile-body-content{
    width: 1000px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 20px 20px 20px 20px;
    background-color: white;
}
.profile-image{
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px
}
.profile-image img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.profile-image .image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.profile-image div{
    width: 70%;
}
.about-user{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    width: 90%;
    padding: 20px 20px 20px 20px;
}
.product-detail{
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 15px;
    background-color: white;
}
.product-detail-information{
    display: flex;
    flex-direction: column;
    line-height: 15px;
    margin: 10px 10px 10px 10px;
}
.product-detail-content{
    display: flex;
    flex-direction: row;
    width: 70%;
}
.product-detail-content img{
    width: 200px;
    height: 250px;
}
.product-detail-content h2{
    padding: 0px 5px 0px 5px;

}


