*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  img {
    object-fit: cover;
  }

  /*header css*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}
.header .nav-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 20px 20px 20px;
}
.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.header .logo{
    width: 200px;
    height: 50px;
    align-items: center;
}
.header .icon{
    display: flex;
    padding: 10px 10px 10px 10px;
    justify-content:center;
    align-items: center;
}
.header .icon img{
    width: 30px;
    height: 30px;
    padding: 5px 5px 5px 5px
}
.header .login-button{
    display: flex;
    justify-content:right;
    align-items: center;
    padding: 5px 5px 5px 5px;
}
.header .login-button img{
    width: 50px;
    height: 50px;
    padding: 10px 10px 10px 10px;
}

/*body css*/
.main-body{
    display: flex;
    justify-content: center;
}
.main-body-content{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 700px;

}
.body-sec{
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
    justify-content: space-between;
}

.product-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-body-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    border-width: 2px;
    padding: 5px 5px 20px 5px;
    border-color: black;
    border-style: solid;
    background-color: grey;
}
.product-detail{
    width: 650px;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 15px;
    background-color: white;
}
.product-detail-content{
    display: flex;
    flex-direction: row;
    width: 70%;
}
.product-detail-content img{
    width: 200px;
    height: 250px;
}
.product-detail-content h2{
    padding: 0px 5px 0px 5px;

}

.contact-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-body-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    border-width: 2px;
    padding: 5px 5px 5px 5px;
    border-color: black;
    border-style: solid;
}
.contact-detail{
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px 15px 15px;
}