*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  img {
    object-fit: cover;
  }

  /*header css*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    background-color: lightgrey;
}
.header .nav-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header .nav-logo{
    display: flex;
    align-items: center;
}
.header .nav-logo img{
    width: 100px;
    height: 100px;
    margin: 10px;
}
.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.header .icon{
    display: flex;
    padding: 10px 10px 10px 10px;
    justify-content:center;
    align-items: center;
}
.header .icon img{
    width: 30px;
    height: 30px;
    margin: 5px 5px 5px 5px
}
.header .login-button{
    display: flex;
    justify-content:right;
    align-items: center;
    margin: 5px 5px 5px 5px;
}
.header .login-button img{
    width: 80px;
    height: 80px;
    margin: 10px 10px 10px 10px;
    border-radius: 100px;
}

/*body css*/
.main-body{
    display: flex;
    justify-content: center;
    padding: 20px 10px 10px 10px
}
.main-body-content{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 900px;
    background-color: lightgrey;
}
.body-sec{
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
    justify-content: space-between;
}
.body-sec button{
    width: 200px;
    height: 40px;
    border-radius: 40px;
}
.body-sec img{
    width: 260px;
    height: 300px;
}
.main-body-ongoing{
    padding: 10px 10px 10px 10px;
}
.ongoing-events{
    display: flex;
    overflow: scroll;
}
.ongoing-events img{
    width: 400px;
    height: 250px;
    padding: 10px 10px 10px 10px;   
}

.product-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 20px 10px;
}
.product-body-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    border-width: 2px;
    padding: 5px 5px 20px 5px;
    border-color: black;
    border-style: solid;
    background-color: lightgrey;
}
.product-detail{
    width: 850px;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 15px;
    background-color: white;
}
.product-detail-content{
    display: flex;
    flex-direction: row;
    width: 70%;
}
.product-detail-content img{
    width: 200px;
    height: 250px;
}
.product-detail-content h2{
    padding: 0px 5px 0px 5px;

}

.contact-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-body-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    border-width: 2px;
    padding: 5px 5px 5px 5px;
    border-color: black;
    border-style: solid;
}
.contact-detail{
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px 15px 15px;
}

.profile-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-body-content{
    width: 700px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;  
}
.profile-image{
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px
}
.profile-image img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.profile-image .image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.profile-image div{
    width: 70%;
}
.about-user{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    width: 650px;
}

.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.login-body-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 700px;
    padding: 30px 30px 30px 30px;
}
.login-body-content img{
    width: 200px;
    height: 100px;
}
.login-body-content form{
    width: 500px;
    display: flex;
    flex-direction: column;
}
.login-body-content input{
    width: 100%;
}

